
<div class="card">
  <h3 class="card-header text-left">Our School's Mission</h3>
  <div class="text-body p-4">
    <p class="">Our School will teach you all of the most interesting subject you've always wanted to master, but were tooafraid to attempt.</p> 
    <p class="">The caveat is...</p> 
    <p class="">Our course catalog contains challenges for only the most discerning rogue academics.</p> 
    <p class="">Are you ready?</p>
  </div>
</div>
