<div class="card">
  <%= form_for @course do |f| %>
    <div class="card-header">
      <h4>Edit Course</h4>
    </div>
    <div class="card-body">
    Course:
    <%= f.text_field :name, placeholder: 'Course Name', class: 'form-control', required: true %> <br>
    Hours:
    <%= f.number_field :hours, placeholder: 0, :step => 5, class: 'form-control', required: true %> <br>
    <%= f.submit 'Edit Course', class: 'btn btn-dark'%>
    </div>
  <% end %>
</div>